body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: White;
}

.container {
  width: 200px;
  height: 45px;
  position: relative;
  border: 3px solid #2196f3;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.container:hover {
  border: 0px;
  border-radius: 100px;
  box-shadow: 10px 10px 10px 0px #2b5373;
  transform: scaled(1.1);
}

input {
  position: absolute;
  width: 100%;
  height: 45px;
  border: none;
  color: #2196f3;
  background: none;
  outline: none;
  font-size: 40px;
  font-weight: 700;
  transition: 0.7s ease-in-out;
  padding-top: 0px;
  font-family: "Josefin Sans", sans-serif;
}

input:hover {
  color: White;
  border-radius: 100px;
  background-color: #2196f3;
}

/* .wdth {
  position: absolute;
  width: o%;
  height: 100%;
  background-color: #2196f3;

  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.wdth1 {
  position: absolute;
  width: o%;
  height: 100%;
  background-color: #2196f3;
  top: 0;
  right: 0;
  tramsition: 0.5s ease-in-out;
  z-index: -1;
}

.container:hover .wdth {
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 30px 30px;
}

.container:hover .wdth1 {
  width: 100%;
  border-radius: 30px 30px 30px 30px;
}

.container:hover input {
  transform: scaled(1.1);
  color: #fff;
}

.container:hover .wdth {
  border-radius: 100px;
  box-shadow: 0 10px #2196f3, 0 40px #2196f3;
} */
